.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.map-component {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Мобильная адаптация */
@media (max-width: 768px) {
  .properties-panel {
    width: 100%;
    height: 40vh;
    top: auto;
    bottom: 0;
    right: 0;
  }
  
  .map-component.with-panel {
    height: 60vh;
    width: 100%;
    right: 0;
  }
}